
@{
    ViewBag.Title = "Pay Options";
}

<style>
    img {
    padding:20px;
    }
</style>

<h2>PayOptions</h2>


<div class="col-md-12">
    <div class="text-center">
        <h3>You have to pay your cash with BKash, Rocket or Cash on Delivery</h3>
    </div>

    <div class="col-md-12 text-center">

        <img style="width:200px;height:200px;" src="~/Content/img/bkash.png" />
        <img style="width:200px;height:200px;" src="~/Content/img/cod.png" />
        <img style="width:200px;height:200px;" src="~/Content/img/rocket.png" />


    </div>
 

</div>


